<!DOCTYPE html>
<html>
<head>
	<title>Home Page from home</title>
	<style>
		table, th , td {
		  border: 1px solid grey;
		  border-collapse: collapse;
		}
		table tr:nth-child(odd) {
		  background-color: #f4f4f4;
		}
		table tr:nth-child(even) {
		  background-color: #555555;
		}
	</style>
</head>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="angular-route.min.js"></script>
<script type="text/javascript" src="myapp.js"></script>
<script type="text/javascript" src="controller.js"></script>
<body ng-app ="myapp" ng-controller="studentController">
	<!-- <form action="http://192.168.0.145:3000/myaction" method="post">
	  <fieldset>
			<label for="name">Enter Animal Name to get Details:</label>
			<input type="text" id="name" name="name" placeholder="Enter animal name"/>
			<input type="submit" value="Get details" />
	  </fieldset>
	</form> -->
<table class="addtable" width="100%">
	<tr>
		<th>ID</th><th>class</th><th>wiki_page</th><th>min_weight</th><th>max_weight</th><th>diet</th>
	</tr>
	<tr ng-repeat="x in Details">
		<td><input type="text" ng-model="x._id"><br></td>
		<td><input type="text" ng-model="x.class"><br></td>
		<td><input type="text" ng-model="x.diet"><br></td>
		<td><input type="text" ng-model="x.min_length"><br></td>
		<td><input type="text" ng-model="x.max_length"><br></td>
		<td><input type="text" ng-model="x.min_weight"><br></td>
		<td><input type="text" ng-model="x.max_weight"><br></td>
		<td><input type="text" ng-model="x.wiki_page"><br></td>
	</tr>
</table>	
<input type="text" ng-model="animalval">
<input style="width:75px;" type="submit" value="add" ng-click="addNew()">
</body>
</html>